services:
  hmpps-nomis-mapping-service:
    build:
      context: .
    networks:
      - hmpps
    container_name: hmpps-nomis-mapping-service
    ports:
      - "8081:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health/ping"]
    environment:
      - SERVER_PORT=8080
      - SPRING_PROFILES_ACTIVE=dev

  hmpps-auth:
    image: quay.io/hmpps/hmpps-auth:latest
    networks:
      - hmpps
    container_name: hmpps-auth
    ports:
      - "9090:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/auth/health"]
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - APPLICATION_AUTHENTICATION_UI_ALLOWLIST=0.0.0.0/0

  mapping-db:
    image: postgres:18
    networks:
      - hmpps
    # network_mode: "host"
    container_name: mapping-db
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=mapping
      - POSTGRES_USER=mapping
      - POSTGRES_DB=mapping

networks:
  hmpps:
