server:
  shutdown: immediate
  port: 8084

management.endpoint:
  health.cache.time-to-live: 0
  info.cache.time-to-live: 0

api:
  base:
    url:
      hmpps-auth: http://localhost:9090/auth

spring:
  devtools:
    add-properties: true

  datasource:
    url: jdbc:postgresql://localhost:5432/mapping?sslmode=prefer
    username: mapping
    password: mapping

  flyway:
    enabled: true

  r2dbc:
    url: r2dbc:postgresql://localhost:5432/mapping?sslmode=prefer
    username: mapping
    password: mapping
    properties:
      sslMode: DISABLE
      sslRootCert:

visit-balance-adjustment.expiry:
  schedule:
    cron: "0 0 8 * * MON-FRI"
